@{
  Layout = "_Layout";
}

<div class="container" id="indexContainer">
  <div class="row">
    <div class="col-md-12">
      <h1>RESTAURANTS</h1>
      <hr>
      <ul>
        @foreach (var restaurant in Model)
        {
        <a href="/Restaurant/Info/@restaurant.GetId()"><li>@restaurant.GetName()</li></a>
        }
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="/Restaurant/Form"><button type="button" class="btn"> Create New Restaurant</button></a>
    </div>
    <div class="col-md-6">
      <a href="/Restaurant/Clear"><button type="button" class="btn"> Delete All Restaurants</button></a>
    </div>
  </div>
</div>
