<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant Project</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"></link>
  </head>
  <body>
    <div class="container" id="jumboContainer">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1>BOOTLEG-YELP</h1>
          </div>
        </div>
      </div>
    </div>
    @RenderBody()
    <footer>Epicodus (C) Ernest and Justin, 2018</footer>
  </body>
</html>
