<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant Project</title>
  </head>
  <body>
    @RenderBody()
  <footer>Epicodus (C) Ernie and Justin, 2018</footer>
  </body>
</html>
